.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
}
.float-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.float-top-center{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.float-top-right{
  position: absolute;
  top: 0;
  right: 0;
}
.float-top-left{
  position: absolute;
  left: 0;
  top: 0;
}
.float-left{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.float-right{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.float-bottom{
  position: absolute;
  bottom: 0;
}
.float-bottom-overflow{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 100%, 0)
}
.centered{
  margin-left: 50%;
  transform: translateX(-50%);
}
.single-page{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--dark-blue);
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}
.relative{
  position: relative;
}
.class1{
  left: 50%;
  border-radius: 50%;
  border: 10px solid red;
  transform: translateX(-50%);
  box-shadow: 4px 4px 10px var(--box-shadow-dark);
}
.class2{
  
}
.class3{
  
}
.lapstime{
  display: inline-block;
  min-width: 150px;
  padding: 5px;
  border-radius: 10px;
  margin: 50px;
  color: white;
  user-select: none;
  border: 1px solid black;
  box-shadow: 2px 2px 5px var(--box-shadow-dark);
  background-color: purple;
}
.btn{
  padding: 5px;
  min-width: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px 5px var(--box-shadow-dark);
}
.btn:active{
  box-shadow: 1px 1px 2px var(--box-shadow-dark);
}
.btn-hover:hover{
  transform: scale(1.05);
}
.time-btn{
  height: 50px;
  margin: 15px;
  padding: 10px;
  min-width: 100px;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 2px 2px 5px var(--box-shadow-dark);
}
.btn-success{
  color: white;
  background-color: rgb(6, 87, 6);
}
.btn-warning{
  color: white;
  background-color: rgb(136, 7, 7);
}
.nav-btn-container{
  width: 200px;
  overflow: hidden;
  box-shadow: 2px 2px 5px var(--box-shadow);
  border-right: 1px solid orange;
  background: var(--bg-fade-vertical);
}
.nav-btn-header{
  position: relative;
  text-align: center;
  padding: 20px;
  color: white;
  user-select: none;
  font-weight: bold;
}
.nav-btn{
  padding: 10px;
  margin-top: 5px;
  user-select: none;
  color: white;
  box-shadow: 2px 2px 5px rgb(138, 92, 7);
  background: var(--bg-fade-vertical-light);
  border: 1px solid rgb(94, 136, 136);
}
.nav-btn:hover{
  color: orange;
  background: var(--bg-fade-vertical-light-hover);
}
.nav-btn:active{
  background-color: rgb(5, 150, 150);
  box-shadow: 1px 1px 3px var(--box-shadow-dark);
}
.nav-btn-is-active{
  fill: orange;
}
.nav-option-select-container{
  position: absolute;
  text-align: right;
  width: 85%;
  z-index: 999;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  border-radius: 25px;
  background: var(--bg-fade-horizontal-reverse);
  box-shadow: 2px 2px 5px var(--box-shadow);
}
.nav-option-select{
  max-width: 40%;
  margin-left: 10px;
  box-shadow: 4px 4px 10px var(--box-shadow-dark);
}
.input{
  padding: 5px;
  font-size: inherit;
  outline: none;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid gray;
}
.input-hover:hover{
  transform: scale(1.05);
}
.label-hover:hover{
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}
.page-wrapper-outter-container{
  width: 85%;
  padding: 20px;
  margin-top: 70px;
  color: white;
  user-select: none;
  box-shadow: 2px 2px 5px var(--box-shadow);
  background: var(--bg-fade-horizontal);
}
.page-wrapper-container{
  height: 70vh;
  overflow-y: auto;
  padding: 20px;
  color: white;
  background-color: inherit;
  user-select: none;
}
.content-container{
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  user-select: none;
}
.content-container:hover{
  cursor: pointer;
  color: orange;
  background-color: var(--bg);
}
.content-inner-container{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.log-icon{
  left: 0;
  font-size: 40px;
  border-radius: 50%;
  z-index: 99999999999999;
  background-color: orange;
  box-shadow: 1px 1px 2px var(--box-shadow-dark);
}
.flex{
  display: flex;
}
.de-flex-on-mobile{
  display: block;
}
.block{
  display: block;
}
.h-seperator{
  border-bottom: 1px solid var(--box-shadow);
}
.admin-user-name{
  position: relative;
  width: 100px;
  margin-right: 20px;
  white-space: nowrap;
}
.admin-user-input{
  width: 250px;
  margin-left: 20px;
}
.scrollbar::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background: var(--scrollbar);
}
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: var(--bg-fade-horizontal);
}
.scrollbar::-webkit-scrollbar-button{
  color: black;
  height: 10px;
  border-radius: 50%;
  background: var(--bg-fade-horizontal);
}
.toolbar{
  position: relative;
  color: white;
  height: 55px;
  user-select: none;
  box-shadow: 2px 2px 5px var(--box-shadow);
  background: var(--bg-fade-horizontal);
}
.HamburgerMenu{
  display: none;
  font-size: 30px;
  left: 10px;
  z-index: 9;
}
.max-width{
  width: 100%;
}
.max-size{
  width: 100%;
  height: 100%;
}
.no-select{
  user-select: none;
}
.pad{
  padding: 10px;
}
.hide-on-desktop{
  display: none;
}
.welcome-header{
  text-align: center;
  font-family: 'Qahiri', sans-serif;
  font-style: italic;
  color: white;
}
.modal{
  width: 85%;
  height: 65vh;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--box-shadow);
  background: var(--bg-fade-horizontal);
}
.calendar-event{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: var(--bg-fade-horizontal);
}
.calendar-event-week{
  display: flex;
}
.calendar-event-week-header{
  width: 100%;
  padding: 10px;
  overflow: hidden;
  color: orange;
  user-select: none;
  background-color: var(--bg-tertiary);
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}
.calendar-event-date-container{
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px solid orange;
}
.calendar-event-floating-btn{
  border-radius: 10px;
  width: 100%;
  background: var(--bg-fade-horizontal);
  box-shadow: 4px 4px 5px var(--box-shadow-dark-fade);
}
.calendar-event-floating-btn div{
  padding: 10px;
}
.calendar-event-floating-btn button{
  margin-left: 5px;
  margin-right: 5px;
}
.calendar-number{
  position: absolute;
  left: 0;
  margin: 5px;
  user-select: none;
  color: white;
}
.calendar-contents{
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80%;
  transform: translate3d(-50%,-50%,0);
  color: lightgray;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 10px;
  user-select: none;
  padding: 5px;
  box-shadow: 1px 1px 5px var(--box-shadow-dark);
}
.calendar-contents:hover{
  width: auto;
  max-width: none;
  min-width: 200px;
  overflow: visible;
  z-index: 99;
  color: teal;
  user-select: text;
  white-space: normal;
  background-color: white;
}
.not-in-month{
  background-color: var(--bg-secondary);
}
.span-wrapper{
  border-radius: 5px;
  background: var(--bg-fade-horizontal);
}
.add-task{
  width: 300px;
  padding: 10px;
  color: white;
  z-index: 999999;
  box-shadow: 4px 4px 10px var(--box-shadow-dark);
}
select{
  cursor: pointer;
}
.event-side-menu{
  width: 100%;
  height: 100%;
  color: white;
  background: var(--bg-secondary);
}
.event-side-menu-btn{
  position: relative;
  width: 100%;
  height: 50px;
}
.event-side-menu-user-list{
  width: 100%;
  height: 410px;
  white-space: nowrap;
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background: var(--bg-tertiary);
}
.event-side-menu-user-list div{
  padding: 5px;
  padding-left: 0;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.isAsign{
  width: 20px;
  height: 20px;
  padding: 1px;
  text-align: center;
  border-radius: 50%;
  background-color: blue;
  box-shadow: 2px 2px 5px var(--box-shadow-dark);
}
.hide{
  display: none;
}
.time-card-name{
  font-size: 20px;
  padding: 8px;
  color: orange;
  user-select: none;
  background: var(--bg-fade-horizontal-reverse);
}
.time-card-scroll{
  overflow-y: auto;
  height: 47vh;
}
.time-card-container{
  position: relative;
  display: flex;
  color: white;
  cursor: pointer;
}
.time-card-container:hover .time-card-comment{
  display: block;
  width: auto;
  min-width: 200px;
  max-width: 80%;
  overflow: visible;
  z-index: 99;
  color: teal;
  user-select: text;
  background-color: white;
  white-space: normal;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 1px 5px var(--box-shadow-dark);
}
.time-card-content{
  width: 50%;
  padding: 8px;
}
.time-card-header-container{
  display: flex;
  width: 100%;
  color: orange;
  font-weight: bold;
  user-select: none;
  background-color: var(--bg);
  border-bottom: 1px solid white;
}
.time-card-calc-container{
  display: flex;
  width: 100%;
  font-weight: bold;
  color: orange;
  user-select: none;
  background-color: var(--bg);
  border-bottom: 1px solid white;
}
.error{
  color: orangered;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: center;
  z-index:"9999999999999999999999999999999";
  background-color: rgb(0, 0, 0, 0.80);
}
.creds-container{
  padding: 40px;
  color: white;
  user-select: none;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--box-shadow-dark);
  background-color: var(--dark-translucent);
}
.creds-container input{
  width: 230px;
}
.creds-info{
  color: orange;
  text-align: center;
  margin-bottom: 50px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(0,0,0,0.10);
}
.creds-side-info{
  position: relative;
  width: 100%;
  color: white;
}
.creds-btn{
  width: 100%;
  padding: 10px;
  color: white;
  background-color: var(--dark-orange);
}
.auther-header-container{
  display: flex;
  width: 100%;
  position: relative;
  font-size: 20px;
  padding: 12px;
  color: white;
  user-select: none;
  box-shadow: 2px 2px 5px var(--box-shadow-dark);
  background-color: var(--light-blue);
}
.auther-header-container label{
  font-weight: bold;
}
.auth-header-btn-container{
  right: 80px;
  font-size: 15px;
}
.auth-header-btn{
  background-color: inherit;
  color: inherit;
  margin-right: 20px;
  box-shadow: none;
  padding: 10px;
}
.welcome-card{
  display: inline-flex;
  width: 27%;
  height: 400px;
}
.welcome-inner-card{
  margin: 20px;
  width: 100%;
  padding: 50px;
  text-align: center;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 10px var(--box-shadow-light);
}
.welcome-card-container{
  text-align: center;
  margin-top: 40px;
}
.profile{
  color: orange;
  text-align: center;
  white-space: nowrap;
  margin-left: 50%;
  padding-top: 130px;
  width: 150px;
  height: 150px;
  font-weight: bold;
  font-size: 20px;
  transform: translateX(-50%);
}
.profile-image{
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid gray;
}
.profile-bg-image{
  height: 200px;
  background-repeat: no-repeat;
  background-image: url(../images/welcome-poster.jpg);
  background-size: 50%;
  background-position: center;
  background-color: white;
  margin: 10px;
  color: white;
  text-align: center;
}
.progress-bar{
  color: white;
  background: rgb(0, 0, 0, 0.60);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgb(128, 128, 128, 0.30);
}
.title-case{ 
  text-transform: capitalize;
}
.lower-case{ 
  text-transform: lowercase;
}
.settings-card-container{
  margin: 15px;
}
.settings-card{
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 10px;
  border: 1px solid rgb(211, 211, 211, 0.50);
  box-shadow: 1px 1px 5px var(--box-shadow-light);
}
.shack-up{
  border-radius: 5px;
  border: 2px solid red;
  animation: shake-float 0.1s linear infinite forwards;
}