body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  --bg: teal;
  --bg-secondary: rgb(36, 63, 63);
  --bg-tertiary: rgb(30, 37, 37);
  --bg-fade-horizontal: linear-gradient(to right, teal 0%, rgb(0, 10, 10) 100%);
  --bg-fade-vertical: linear-gradient(to bottom, teal 0%, rgb(0, 10, 10) 100%);
  --bg-fade-vertical-light: linear-gradient(to bottom, teal 0%, rgb(1, 46, 46) 100%);
  --bg-fade-vertical-light-hover: linear-gradient(to bottom, rgb(1, 190, 190) 0%, rgb(1, 46, 46) 100%);
  --scrollbar: linear-gradient(to right, rgb(2, 247, 247) 0%, rgb(0, 10, 10) 100%);

}
